<div class="container mt-5 d-flex justify-content-center">
  <div class="row w-50">
    <div class="col-12">
      <div class="card">
        <img
          src="https://cdn.calciomercato.com/images/2019-05/Whatsapp.senza.immagine.2019.460x340.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{loggerUser.nome}} {{loggerUser.cognome}}</h5>
          <p class="card-text">
            {{loggerUser.email}}
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
